<header id="main-header">
  <div id="logo">
    <a href="/">Mijn Notities</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">Alle Notities</a>
      </li>
      <li>
        <a href="/new-post">Nieuwe notitie</a>
      </li>
    </ul>
  </nav>
</header>