<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Add new post' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <%- include('includes/header') %>
    <main>
      <h1>Maak een nieuwe notitie</h1>
      <form action="/posts" method="POST">
        <div class="form-control">
          <label for="title">Titel</label>
          <input type="text" id="title" name="title" required>
        </div>
        <div class="form-control">
          <label for="date_ready">Datum gereed</label>
          <input type='text' id="date_ready" name="date_ready" required maxlength="8"></input>
        </div>
        <div class="form-control">
          <label for="summary">Samenvatting</label>
          <input type="text" id="summary" name="summary" required maxlength="255">
        </div>
        <div class="form-control">
          <label for="content">Inhoud</label>
          <textarea id="content" name="content" required rows="5"></textarea>
        </div>
        <div class="form-control">
          <label for="author">Selecteer Schrijver</label>
          <select id="author" name="author">
            <% for (const author of authors) { %>
              <option value="<%= author.id %>">
                <%= author.name %>
              </option>
              <% } %>
          </select>
        </div>
        <button class="btn">Opslaan</button>
      </form>
    </main>
</body>

</html>