/* All posts page */

#all-posts {
  text-align: center;
}

#posts-list {
  margin: 3rem auto;
  max-width: 40rem;
}

#posts-header {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: 0.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  /* padding: 1rem; */
  background-color: rgb(186, 160, 238);
}

.post-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  /* padding: 1rem; */
  background-color: rgb(220, 204, 252);
}

h3 {
  margin: 0;
}
/* .post-item h3,
.post-item p {
  margin: 0.2rem 0;
  margin: 0;
} */

.post-item-author {
  font-style: italic;
}

.post-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
}

.post-actions .btn-alt {
  padding: 0;
}

#post-meta {
  color: rgb(156, 149, 149);
}

#post-meta address {
  display: inline;
}

#post-meta time {
  font-style: italic;
}

#body {
  white-space: pre-wrap; /* This ensures that line breaks and whitespace are kept */
}
